@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default;
 }

 @keyframes slideFadeRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}